body {
  margin: 0; 
  padding: 0; 
}

.board {
  text-align: center;
}

.row {
  margin: 0 auto;
}

.square {
  height: 80px;
  width: 80px;
  background: lightgray;
  display: inline-block;
}

.stats {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 200px;
  height: 400px;
  background: gray;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}
